{include file="./home/else3/html/header.html" /}



<!--container-->
<section id="container">
    <div class="container">
        <div class="row">
            <section id="page-sidebar" class="pull-left span8">

       <!--  一个大类下面，比如三国分魏蜀吴，我还要单查魏蜀吴吗，还是只显示三国
            应该是每个小类都显示的
         -->
                
                <!--pagination-->
                <div class="pagination pagination-centered">
                    <ul>
                        <li class="disabled"><a href="#">&laquo;</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>
            </section>

    <!-- 在这引进右边栏 -->
    {include file="./home/else3/html/aside222.html" /}

        </div>
    </div>
</section>

{include file="./home/else3/html/footer.html" /}