{include file="./home/else3/html/header_edit.html" /}
	
<link href="/home/else3/css/fabu/home.css" type="text/css" rel="stylesheet" />
<!-- <link href="./home/else3/css/fabu/base.css" type="text/css" rel="stylesheet" /> -->
<link href="/home/else3/css/layui.css" type="text/css" rel="stylesheet" />



<section class="aui-content">
    <div style="height:20px;"></div>
    <div class="aui-content-up">

        <form name="contact" method="post" action="editpage.html"  enctype="multipart/form-data" class="af-form" id="af-form" />
            <div class="aui-content-up-form">
                <h2>修改 诗</h2>
            </div>
               
            <input style="display:none" type="text" name="art_id"  size="30" value="{$data}" class="text-input span4" />
            <div class="aui-form-group clear">
                <label class="aui-label-control">
                    文章标题 <em>*</em>
                </label>
                <div class="aui-form-input">
                    <input type="text" class="aui-form-control-two" name="title" id="title" onBlur="checkna()" value="{$data2.art_title}" placeholder="请输入标题">
                    <span class="tips" id="divname"></span>
                </div>
            </div>

            <div class="aui-form-group clear">
                <label class="aui-label-control">
                    作者 <em>*</em>
                </label>
                <div class="aui-form-input">
                    <input type="text" name="author" id="author" size="30" value="{$data2.art_author}" class="aui-form-control-two" />
                    <span class="tips" id="divname"></span>
                </div>
            </div>

            <div class="aui-form-group clear">
                <label class="aui-label-control">
                    文章内容 <em>*</em>
                </label>
                <div class="aui-form-input">
                    <textarea name="content" id="content" cols="30" class="aui-form-control">{$data2.art_content}</textarea>
                    <span class="tips" id="divname"></span>
                </div>
            </div>

            <!-- 遍历显示原标签 -->
            {if condition="$yuanbiaoqian eq ''"}
            {else/}
            <div class="aui-form-group clear">
                <label class="aui-label-control">
                    原标签 <em>*</em>
                </label>
                <div class="aui-form-input">
                    {foreach $yuanbiaoqian as $v}
                    {$v['biaoqian_name']}
                    {/foreach}
                </div>
            </div>
            {/if}

            <div class="aui-form-group clear">
                <label class="aui-label-control">
                    修改标签 <em>*</em>
                </label>
               <div class="wrap">
                  <div class="label-selected">
                      <a href="javascript:;" class="layui-btn layui-btn-sm show-labelitem" style="float: right; margin: 4px; display: block;line-height: 30px;">展开标签库 </a>
                      <a href="javascript:;" class="layui-btn layui-btn-sm hide-labelitem" style="float: right; margin: 4px; display: none;line-height: 30px;">收起标签库 </a>

                      <!-- 在这获取的值 -->
                      <input type="hidden" name="biaoqian_id">  

                  </div>
                  <div class="layui-col-md12" id="labelItem">
                    <!--标签库-->
                    <div class="label-item">
                      <a href="javascript:;" class="replacelable" style="position: absolute;right:1rem;bottom:.75rem;color: #1994dc" onselectstart="return false">换一批</a>
                      {foreach $biaoqian as $v}
                          <li class="biaoqian" data="{$v['id']}"><span>{$v['biaoqian_name']}</span></li>
                      {/foreach}
                    </div>
                  </div>
            </div>
            </div>

            <div class="aui-form-group clear">
                <label class="aui-label-control">
                    文章分类 <em>*</em>
                </label>
                <div class="aui-form-input">
                    <!-- <div class="af-outer af-required"> -->
                        <!-- <div data-toggle="distpicker">      -->
                 
                          <div class="radio">
                             <label class="radio-inline">
                                <input type="radio" name="pid" id="optionsRadios1" 
                                   value="73" checked>诗
                             </label>
                          </div>
                          <div class="radio">
                             <label class="radio-inline">
                                <input type="radio" name="pid" id="optionsRadios2" 
                                   value="75">歌
                             </label>
                          </div>
                          <div class="radio">
                             <label class="radio-inline class">
                                <input type="radio" name="pid" id="optionsRadios3" 
                                   value="76">赋
                             </label>
                          </div>
                          <div class="radio">
                             <label class="radio-inline class">
                                <input type="radio" name="pid" id="optionsRadios4" 
                                   value="77">其他
                             </label>
                          </div>

                          
                        <!-- </div> -->
                    <!-- </div> -->
                </div>
            </div>

            <div class="aui-form-group clear">
                <label class="aui-label-control">
                    译文 <em>*</em>
                </label>
                <div class="aui-form-input">
                    <textarea name="art_translate" id="content" cols="30" class="aui-form-control">{$data2.art_translate}</textarea>
                    <span class="tips" id="divname"></span>
                </div>
            </div>

            <div class="aui-form-group clear">
                <label class="aui-label-control">
                    注释 <em>*</em>
                </label>
                <div class="aui-form-input">
                    <textarea name="art_zhu" id="content" cols="30" class="aui-form-control">{$data2.art_zhu}</textarea>
                    <span class="tips" id="divname"></span>
                </div>
            </div>

            <div class="aui-form-group clear">
                <label class="aui-label-control">
                    赏析 <em>*</em>
                </label>
                <div class="aui-form-input">
                    <textarea name="art_shang" id="content" cols="30" class="aui-form-control">{$data2.art_shang}</textarea>
                    <span class="tips" id="divname"></span>
                </div>
            </div>

            <div class="aui-form-group clear">
                <label class="aui-label-control">
                    创作背景 <em>*</em>
                </label>
                <div class="aui-form-input">
                    <textarea name="art_back" id="content" cols="30" class="aui-form-control">{$data2.art_back}</textarea>
                    <span class="tips" id="divname"></span>
                </div>
            </div>
        
         <div class="aui-btn-default">
            <input type="submit" id="button" class="aui-btn aui-btn-account" value="修改" />    
        </div>
    </form>
    </div>
</section>


 {include file="./home/else3/html/footer.html" /}   


<script type="text/javascript"> 

$(function(){

// 要改成表单提交的时候获取
$("#button").click(function(){
  // alert(111);
  console.log($("input[name='biaoqian_id']").val());   // 这样就可以得到标签id，并传递到后台
})

})
</script>








              

                        
							

        
    


					





