{include file="./home/else3/html/header.html" /}

<!--slider-->
<section id="slider">
    <div class="container">
        <div class="row">
           <!--  <div class="span12">
                <div id="mainslider" class="flexslider">
                    <ul class="slides">
                    <!-- 设置一下图片大小，或者直接删除 -->
                        <!-- <li>
                            <img src="./home/else3/images/6.jpg" alt="" />
                            <div class="slide-caption">
                                <h3 class="slide-title">清词共赏</h3>
                                <p class="slide-subtitle">谁揽芳华簪我发，轻胜九千好年华</p>
                            </div>
                        </li>

                      <li>
                            <img src="./home/else3/images/5.jpg" alt="" />
                            <div class="slide-caption">
                                <h3 class="slide-title">清词共赏</h3>
                                <p class="slide-subtitle">谁揽芳华簪我发，轻胜九千好年华</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div> --> 
        </div>
    </div>
</section>

<!--container-->
<section id="container">
    <div class="container">
    <div class="row">
        <div class="span12">
            <div class="hero-unit">
                <h4>清词共赏</h4>
                <p>
                    谁揽芳华簪我发，轻胜九千好年华
                </p>     
                <a class="btn btn-welcome btn-large pull-right" href="home_shiall.html">Learn more</a>
            </div>
        </div>
    </div>
    <div class="row highlights">
        <div class="span3">
            <div class="hl-circle">
                <a class="hl-icon1" href="home_zhanshi.html?type_id=73">service</a>
            </div>

            <div class="highlights-content clearfix">
                <h5>诗</h5>

                <p>
                    远看山有色，近听水无声。   
                </p>

                <a class="btn-small btn-hl" href="home_zhanshi.html?type_id=73">
                    <span>Read more</span>
                </a><!-- button small end -->
            </div>
        </div>
        <div class="span3 ">
            <div class="hl-circle">
                <a class="hl-icon2" href="home_zhanshi.html?type_id=74">service</a>
            </div>

            <div class="highlights-content clearfix">
                <h5>词</h5>

                <p>
                    二十四桥明月夜，
                    玉人何处教吹箫。
                </p>

                <a class="btn-small btn-hl" href="home_zhanshi.html?type_id=74">
                    <span>Read more</span>
                </a><!-- button small end -->
            </div>
        </div>
        <div class="span3">
            <div class="hl-circle">
                <a class="hl-icon3" href="home_zhanshi.html?type_id=75">service</a>
            </div>

            <div class="highlights-content clearfix">
                <h5>歌</h5>

                <p>
                    衣带渐宽终不悔，
                    为伊消得人憔悴。
                </p>

                <a class="btn-small btn-hl" href="home_zhanshi.html?type_id=75">
                    <span>Read more</span>
                </a><!-- button small end -->
            </div>
        </div>
        <div class="span3 highlights">
            <div class="hl-circle">
                <a class="hl-icon4" href="home_zhanshi.html?type_id=76"></a>
            </div>

            <div class="highlights-content clearfix">
                <h5>赋</h5>

                <p>
                    翩若惊鸿，婉若游龙。
                    
                </p>

                <a class="btn-small btn-hl" href="home_zhanshi.html?type_id=76">
                    <span>Read more</span>
                </a><!-- button small end -->
            </div>
        </div>
    </div>
        <div class="row">
        <div class="span12 our-works"><h4>简 素</h4></div>
        <div class="span12">
            <div id="our-projects" class="carousel bttop">
                <div class="carousel-wrapper">
                    <ul class="portfolio">
                 <!-- 我这如果定风花雪月的标签，那这个是我自己填，还是让人家填 -->
                        <li>
                            <article>
                                <div class="inner-image">
                                    <a href="example/view.jpg" data-rel="prettyPhoto">
                                        <img src="./home/else3/images/6.jpg" alt="" />
                                        <span class="frame-overlay"></span>
                                    </a>
                                </div>
                                <div class="sliding">
                                    <div class="inner-text">
                                        <h4 class="title"><a href="home_juall.html">名句</a></h4>
                                        <p>Lorem ipsum dolor site amet quanta negat omnia</p>
                                    </div>
                                </div>
                            </article>
                        </li>
                        <li>
                            <article>
                                <div class="inner-image">
                                    <a href="example/view.jpg" data-rel="prettyPhoto">
                                        <img src="./home/else3/images/8.jpg" alt="" />
                                        <span class="frame-overlay"></span>
                                    </a>
                                </div>
                                <div class="sliding">
                                    <div class="inner-text">
                                        <h4 class="title"><a href="home_shiall.html">诗词</a></h4>
                                        <p>Lorem ipsum dolor site amet quanta negat omnia</p>
                                    </div>
                                </div>
                            </article>
                        </li>
                         <li>
                            <article>
                                <div class="inner-image">
                                    <a href="example/view.jpg" data-rel="prettyPhoto">
                                        <img src="./home/else3/images/5.jpg" alt="" />
                                        <span class="frame-overlay"></span>
                                    </a>
                                </div>
                                <div class="sliding">
                                    <div class="inner-text">
                                        <h4 class="title"><a href="home_singall.html">歌词</a></h4>
                                        <p>Lorem ipsum dolor site amet quanta negat omnia</p>
                                    </div>
                                </div>
                            </article>
                        </li>
                        <li>
                            <article>
                                <div class="inner-image">
                                    <a href="example/view.jpg" data-rel="prettyPhoto">
                                        <img src="./home/else3/images/9.jpg" alt="" />
                                        <span class="frame-overlay"></span>
                                    </a>
                                </div>
                                <div class="sliding">
                                    <div class="inner-text">
                                        <h4 class="title"><a href="home_topicall.html">话题</a></h4>
                                        <p>Lorem ipsum dolor site amet quanta negat omnia</p>
                                    </div>
                                </div>
                            </article>
                        </li>

                    </ul>
                </div>
            </div>
            <script type="text/javascript">
                $(document).ready(function(){
                    $('#our-projects').elastislide({
                        imageW : 270,
                        border : 0,
                        minItems : 1,
                        margin : 30
                    });
                });
            </script>
        </div>
    </div>
       <div class="tlinks">Collect from <a href="http://www.cssmoban.com/" >网页模板</a></div>
        
        <div class="row">
            <div class="span12">
                <ul class="thumbnails">
                    <!---->
                    <li class="span6">
                        <a href="example/view.jpg" data-rel="prettyPhoto" class="thumbnail">
                            <img src="example/latest8.jpg" alt="" />
                            <span class="frame-overlay"></span>
                        </a>
                    </li>
                    <!---->
                    <li class="span3">
                        <a href="example/view.jpg" data-rel="prettyPhoto" class="thumbnail">
                            <img src="example/latest7.jpg" alt="" />
                            <span class="frame-overlay"></span>
                        </a>
                    </li>
                    <!---->
                    <li class="span3">
                        <a href="example/view.jpg" data-rel="prettyPhoto" class="thumbnail">
                            <img src="example/latest6.jpg" alt="" />
                            <span class="frame-overlay"></span>
                        </a>
                    </li>
                    <!---->
                    <li class="span3">
                        <a href="example/view.jpg" data-rel="prettyPhoto" class="thumbnail">
                            <img src="example/latest5.jpg" alt="" />
                            <span class="frame-overlay"></span>
                        </a>
                    </li>
                    <!---->
                    <li class="span3">
                        <a href="example/view.jpg" data-rel="prettyPhoto" class="thumbnail">
                            <img src="example/latest1.jpg" alt="" />
                            <span class="frame-overlay"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="span12 testimonials">
                <h4>心语</h4>
            </div>
            <div class="span4">
                <p>
                    明月松间照，清泉石上流。竹喧归浣女，莲动下渔舟。

                </p>
            </div>
            <div class="span8">
                <!--testimonals-->
                <div id="testimonial" class="carousel bttop">
                    <div class="carousel-wrapper">
                        <ul class="testimonials">

                            <li>
                            <!-- 这还要加头像吗 -->
                                <!-- <img src="example/testimonials1.jpg" alt="" /> -->
                                <p>
                                    诗词如歌，在平平仄仄中婉转悠扬，在抑扬顿挫里低回不尽，让人忘忧，使人开颜；诗词如画，在虫鱼鸟兽中描摹自
然，在小桥流水中展现乾坤，为我们描绘出或凄美、或壮阔、或静谧、或热烈的绝美意境；诗词又像一位哲人，在历经千年后，向我们娓娓道来人生的真谛，激励我
们走向生活，面对挑战。
                                </p>
                                <!-- <h4>Jhon Doe <small>Compani Inc.</small></h4> -->
                            </li>
    
                      
                        </ul>
                    </div>
                </div>
                <script type="text/javascript">
                    $(document).ready(function(){
                        $('#testimonial').elastislide({
                            imageW  : 740,
                            margin  : 30
                        });
                    });
                </script>
            </div>
        </div>
    </div>
</section>

{include file="./home/else3/html/footer.html" /}




	