{include file="./home/else3/html/header.html" /}
	
<link href="./home/else3/css/fabu/home.css" type="text/css" rel="stylesheet" />
<!-- <link href="./home/else3/css/fabu/base.css" type="text/css" rel="stylesheet" /> -->

<section class="aui-content">
            <div style="height:20px;"></div>
            <div class="aui-content-up">

                <form name="contact" method="post" action="home/sing/insert.html"  enctype="multipart/form-data"  id="af-form" />
                    <div class="aui-content-up-form">
                        <h2>发表 歌词</h2>
                    </div>


                    <div class="aui-form-group clear">
                        <label class="aui-label-control">
                            歌名 <em>*</em>
                        </label>
                        <div class="aui-form-input">
                            <input type="text" class="aui-form-control-two" name="title" id="title" onBlur="checkna()" value="" placeholder="请输入标题">
                            <span class="tips" id="divname"></span>
                        </div>
                    </div>

                    <div class="aui-form-group clear">
                        <label class="aui-label-control">
                            来源 <em>*</em>
                        </label>
                        <div class="aui-form-input">
                            <input type="text" name="laiyuan" id="title" size="30" value="" class="text-input span4" />
                            <span class="tips" id="divname"></span>
                        </div>
                    </div>

                    <div class="aui-form-group clear">
                        <label class="aui-label-control">
                            音频 <em>*</em>
                        </label>
                        <div class="aui-form-input">
                        <!-- 这应该限制一下传递的类型 ，不能是图片-->
                            <input  name="music" id="video" size="30"  type="file"  />
                            <!-- <audio id="audio" controls autoplay="" style="display: none; "></audio> -->
                        </div>
                    </div>


                   <!--  <div class="aui-form-group clear">
                        <label class="aui-label-control">
                            添加标签 <em>*</em>
                        </label>
                       <div class="wrap">
                          <div class="label-selected">
                              <a href="javascript:;" class="layui-btn layui-btn-sm show-labelitem" style="float: right; margin: 4px; display: block;line-height: 30px;">展开标签库 </a>
                              <a href="javascript:;" class="layui-btn layui-btn-sm hide-labelitem" style="float: right; margin: 4px; display: none;line-height: 30px;">收起标签库 </a>

                              <!-- 在这获取的值 -->
                              <!-- <input type="hidden" name="biaoqian_id">  

                          </div>
                          <div class="layui-col-md12" id="labelItem">
                            <!--标签库-->
                           <!--  <div class="label-item">
                              <a href="javascript:;" class="replacelable" style="position: absolute;right:1rem;bottom:.75rem;color: #1994dc" onselectstart="return false">换一批</a>
                              {foreach $biaoqian as $v}
                                  <li class="biaoqian" data="{$v['id']}"><span>{$v['biaoqian_name']}</span></li>
                              {/foreach}
                            </div>
                          </div>
                    </div>
                    </div> --> 

  
                    <div class="aui-form-group clear">
                        <label class="aui-label-control">
                            歌词内容 <em>*</em>
                        </label>
                        <div class="aui-form-input">
                            <textarea name="content" id="content" cols="30" class="aui-form-control"></textarea>
                            <span class="tips" id="divname"></span>
                        </div>
                    </div>

                    <div class="aui-form-group clear">
                        <label class="aui-label-control">
                            注释 <em>*</em>
                        </label>
                        <div class="aui-form-input">
                            <textarea name="zhushi" id="content" cols="30" class="aui-form-control"></textarea>
                            <span class="tips" id="divname"></span>
                        </div>
                    </div>

                 <div class="aui-btn-default">
                    <input type="submit" id="button" class="aui-btn aui-btn-account" value="发布" />
                    <!-- <input type="submit" id="button" class="btn btn-welcome btn-large" value="发布" /> -->  
                </div>
            </form>
            </div>
        </section>



	<!-- <!-- 打开不打开这个，就是换个样式，删了才行  -->

{include file="./home/else3/html/footer.html" /}   

<!-- <script type="text/javascript"> 

$(function(){

// 要改成表单提交的时候获取
$("#button").click(function(){
  console.log($("input[name='biaoqian_id']").val());   // 这样就可以得到标签id，并传递到后台
})

})



</script> -->

<script type="text/javascript">

var fileInput = document.querySelector('#video');
// $("#video").click(function(){
//     alert(111);
//     // 限制不能是图片格式，只能是音频视频
// })

fileInput.onchange = function () {
    // alert(111);
    var file = this.files[0];
    // if (!/audio\/\w+/.test(file.type))   // video 和 audio 的可以上传
    if (/image\/\w+/.test(file.type))   // video 和 audio 的可以上传
    {
        alert("只能选择音频和视频文件")
        // alert(file.type);
        return false;
    }
}

// function checkvideo()
// {
//     alerrt(111);
// }

</script>