{include file="./home/else3/html/header_edit.html" /}
<link href="/home/else3/css/fabu/home.css" type="text/css" rel="stylesheet" />
<!-- <link href="./home/else3/css/fabu/base.css" type="text/css" rel="stylesheet" /> -->
<link href="/home/else3/css/layui.css" type="text/css" rel="stylesheet" />
<section class="aui-content">
    <div style="height:20px;"></div>
    <div class="aui-content-up">

            <form name="contact" method="post" action="../ju/editpage.html"  enctype="multipart/form-data" class="af-form" id="af-form" />
        
            <div class="aui-content-up-form">
                <h2>修改 名句</h2>
            </div>
               
            <input style="display:none" type="text" name="art_id"  size="30" value="{$data}" class="text-input span4" />
            <div class="aui-form-group clear">
                <label class="aui-label-control">
                    文章标题 <em>*</em>
                </label>
                <div class="aui-form-input">
                    <input type="text" class="aui-form-control-two" name="title" id="title" onBlur="checkna()" value="{$data2.art_title}" placeholder="请输入标题">
                    <span class="tips" id="divname"></span>
                </div>
            </div>

            <div class="aui-form-group clear">
                <label class="aui-label-control">
                    作者 <em>*</em>
                </label>
                <div class="aui-form-input">
                    <input type="text" name="author" id="author" size="30" value="{$data2.art_author}" class="aui-form-control-two" />
                    <span class="tips" id="divname"></span>
                </div>
            </div>

            <div class="aui-form-group clear">
                <label class="aui-label-control">
                    名句 <em>*</em>
                </label>
                <div class="aui-form-input">
                    <textarea name="content" id="content" cols="30" class="aui-form-control">{$data2.art_content}</textarea>
                    <span class="tips" id="divname"></span>
                </div>
            </div>


            <div class="aui-form-group clear">
                <label class="aui-label-control">
                    注释 <em>*</em>
                </label>
                <div class="aui-form-input">
                    <textarea name="zhushi" id="content" cols="30" class="aui-form-control">{$data2.art_zhu}</textarea>
                    <span class="tips" id="divname"></span>
                </div>
            </div>

            
        
         <div class="aui-btn-default">
            <input type="submit" id="button" class="aui-btn aui-btn-account" value="修改" />    
        </div>
    </form>
    </div>
</section>


 {include file="./home/else3/html/footer.html" /}   











