{include file="./home/else/html/header.html" /}


	<div class="col-md-9 main">
	  <!--grids-->
	   <div class="grid-section">
	     <h3 class="tittle">Grids <i class="glyphicon glyphicon-stop"></i></h3>
         <div class="form-group">
		    <div class="row">
			  <div class="col-md-12">
				<input type="text" class="form-control1" placeholder=".col-md-12">
			  </div>
			<div class="clearfix"> </div>
		   </div>
		</div>
		<div class="form-group">
			<div class="row">
				<div class="col-md-2 grid_box1">
					<input type="text" class="form-control1" placeholder=".col-md-2">
				</div>
				<div class="col-md-10">
					<input type="text" class="form-control1" placeholder=".col-md-10">
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="form-group">
			<div class="row">
				<div class="col-md-3 grid_box1">
					<input type="text" class="form-control1" placeholder=".col-md-3">
				</div>
				<div class="col-md-9">
					<input type="text" class="form-control1" placeholder=".col-md-9">
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="form-group">
			<div class="row">
				<div class="col-md-4 grid_box1">
					<input type="text" class="form-control1" placeholder=".col-md-4">
				</div>
				<div class="col-md-8">
					<input type="text" class="form-control1" placeholder=".col-md-8">
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>	
		<div class="form-group">
			<div class="row">
				<div class="col-md-5 grid_box1">
					<input type="text" class="form-control1" placeholder=".col-md-5">
				</div>
				<div class="col-md-7">
					<input type="text" class="form-control1" placeholder=".col-md-7">
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>	
		<div class="form-group">
			<div class="row">
				<div class="col-md-6 grid_box1">
					<input type="text" class="form-control1" placeholder=".col-md-6">
				</div>
				<div class="col-md-6">
					<input type="text" class="form-control1" placeholder=".col-md-6">
				</div>
				<div class="clearfix"> </div>
			</div>
		   </div>	
		   <div class="form-group">
		<div class="row">
			<div class="col-md-4 grid_box1">
				<input type="text" class="form-control1" placeholder=".col-md-4">
			</div>
			<div class="col-md-4 grid_box1">
				<input type="text" class="form-control1" placeholder=".col-md-4">
			</div>
			<div class="col-md-4">
				<input type="text" class="form-control1" placeholder=".col-md-4">
			</div>
			<div class="clearfix"> </div>
		</div>
		   </div>	
		   <div class="form-group">
		<div class="row">
			<div class="col-md-3 grid_box1">
				<input type="text" class="form-control1" placeholder=".col-md-3">
			</div>
			<div class="col-md-6 grid_box1">
				<input type="text" class="form-control1" placeholder=".col-md-6">
			</div>
			<div class="col-md-3">
				<input type="text" class="form-control1" placeholder=".col-md-3">
			</div>
			<div class="clearfix"> </div>
		</div>
		   </div>	
		   <div class="form-group">
		<div class="row">
			<div class="col-md-2 grid_box1">
				<input type="text" class="form-control1" placeholder=".col-md-2">
			</div>
			<div class="col-md-8 grid_box1">
				<input type="text" class="form-control1" placeholder=".col-md-8">
			</div>
			<div class="col-md-2">
				<input type="text" class="form-control1" placeholder=".col-md-2">
			</div>
			<div class="clearfix"> </div>
		</div>
		   </div>	
		   <div class="form-group">
		<div class="row">
			<div class="col-md-3 grid_box1">
				<input type="text" class="form-control1" placeholder=".col-md-3">
			</div>
			<div class="col-md-3 grid_box1">
				<input type="text" class="form-control1" placeholder=".col-md-3">
			</div>
			<div class="col-md-3 grid_box1">
				<input type="text" class="form-control1" placeholder=".col-md-3">
			</div>
			<div class="col-md-3">
				<input type="text" class="form-control1" placeholder=".col-md-3">
			</div>
			<div class="clearfix"> </div>
		</div>
		   </div>	
		   <div class="form-group">
		<div class="row">
			<div class="col-md-5 grid_box1">
				<input type="text" class="form-control1" placeholder=".col-md-5">
			</div>
			<div class="col-md-2 grid_box1">
				<input type="text" class="form-control1" placeholder=".col-md-2">
			</div>
			<div class="col-md-5">
				<input type="text" class="form-control1" placeholder=".col-md-5">
			</div>
			<div class="clearfix"> </div>
		</div>
		   </div>	
		   <div class="form-group mb-n">
			<div class="row">
				<div class="col-md-2 grid_box1">
					<input type="text" class="form-control1" placeholder=".col-md-2">
				</div>
				<div class="col-md-2 grid_box1">
					<input type="text" class="form-control1" placeholder=".col-md-2">
				</div>
				<div class="col-md-2 grid_box1">
					<input type="text" class="form-control1" placeholder=".col-md-2">
				</div>
				<div class="col-md-2 grid_box1">
					<input type="text" class="form-control1" placeholder=".col-md-2">
				</div>
				<div class="col-md-2 grid_box1">
					<input type="text" class="form-control1" placeholder=".col-md-2">
				</div>
				<div class="col-md-2">
					<input type="text" class="form-control1" placeholder=".col-md-2">
				</div>
				<div class="clearfix"> </div>
			</div>
		 </div>	
	</div>
     <div class="clearfix"> </div>
{include file="./home/else/html/footer_yuanlai.html" /}