{include file="./home/else3/html/header.html" /}

<!--container-->
<section id="container">
    <div class="container">
        <div class="row">
<section id="page-sidebar" class="pull-left span8">

    <div class="sign-up-form">
                 <h3 class="tittle">我的发布 <i class="glyphicon glyphicon-file"></i></h3>
                    <!-- <p>Having hands on experience in creating innovative designs,I do offer design 
                        solutions which harness</p> -->
                <div class="sign-up">
                

              <div class="box">
                 
                  <span code="" class="pull-right glyphicon glyphicon-remove-circle"></span></p>
                  <p class="bottom_xu">
                     <a href="home/user/myarticlelist.html?art_id=73"><p><span class="zhuse"><h4>【诗歌赋】</h4></span></a>
                     <a href="home/user/myarticlelist.html?art_id=74"><p><span class="zhuse"><h4>【词】</h4></span></a>
                     <!-- <a href="home/user/myarticlelist.html?art_id=75"><p><span class="zhuse"><h4>【歌】</h4></span></a>
                     <a href="home/user/myarticlelist.html?art_id=76"><p><span class="zhuse"><h4>【赋】</h4></span></a> -->
                     <a href="home/user/myarticlelist.html?art_id=78"><p><span class="zhuse"><h4>【名句】</h4></span></a>
                     <a href="home/user/myarticlelist.html?art_id=79"><p><span class="zhuse"><h4>【歌曲】</h4></span></a>
                     <a href="home/user/myarticlelist.html?art_id=80"><p><span class="zhuse"><h4>【话题】</h4></span></a>
                  </p>

                  <div class="box_center">
                      <img src="" alt="" class="box_ewm">
                      <div class="ewm_right">
         
                          <p class="operation"><a href="ewm-edit?id="><span class="glyphicon glyphicon-pencil"></span></a> <span class="glyphicon glyphicon-print"></span></p>
                      </div>
                  </div>
              </div>


</section>
{include file="./home/else3/html/aside_my.html" /} 
 
        </div>
    </div>    
</section>

{include file="./home/else3/html/footer.html" /}  



