{include file="./home/else3/html/header.html" /}

<!--container-->
<section id="container">
    <div class="container">
        <div class="row">
            <section id="page-sidebar" class="pull-left span8">



            <!-- 遍历这个div -->
            
                <article class="blog-post">
                    <div class="row">
                        <div class="span8">
                            <h3 class="post-title"><a href="home_articleonly?id="></a></h3>
                           
                            <div class="post-media">
                            </div>
                            <div class="post-content">
                            <!-- 到时候在这把句子分格式 -->
                                <p>
                                   
                                </p>
                            
                            
                            </div>
                        </div>
                    </div>
                </article>

                <!-- <hr /> -->
               

                <!-- 分页 -->
               




            </section>

    <!-- 在这引进右边栏 -->
    {include file="./home/else3/html/aside222.html" /}

        </div>
    </div>
</section>





{include file="./home/else3/html/footer.html" /}







