{include file="./home/else3/html/header.html" /}



<!--container-->
<section id="container">
    <div class="container">
        <div class="row">
            <section id="page-sidebar" class="pull-left span8">
            
            <!-- 第二种 搜索样式 -->
            <input type="text" id="search" class="textbox textbox_225" placeholder="输入关键词查询..."/>
            <!-- <button type="button" id="searchbutton" class="btn"><i class="icon-search-form"></i></button> -->

            <input type="submit" id="searchbutton" value="查询" class="group_btn"/>


            <!-- 遍历这个div -->
            {volist name="data" id="v"}
                <article class="blog-post">
                    <div class="row">
                        <div class="span8">
                            <h3 class="post-title"><a href="home_topicdetail?id={$v.id}">{$v.art_title}</a></h3>
                            <ul class="post-meta">
                                <!-- <li><i class="icon-user"></i> <a href="#"></a></li> -->
                                
                                <li><i class="icon-calendar"></i> <a href="#">{$v.create_time}</a></li>
                            </ul>
                            <div class="post-media">
                            </div>
                            <div class="post-content">
                            <!-- 到时候在这把句子分格式 -->
                                <p>
                                    {$v['art_content']}
                                </p>
                                <!-- <p>
                                    {$v['art_content']}
                                </p> -->
                                <p><a href="home_topicdetail?id={$v.id}" class="btn btn-large btn-welcome"><i class="icon-chevron-right"></i>详细了解</a></p>
                            </div>
                        </div>
                    </div>
                </article>

                <hr />
                {/volist}

                <!-- 分页 -->
                <div class="pagination pagination-centered">{$data->render()}</div>




            </section>

    <!-- 在这引进右边栏 -->
    {include file="./home/else3/html/aside222.html" /}

        </div>
    </div>
</section>

{include file="./home/else3/html/footer.html" /}

<script type="text/javascript">

$("#searchbutton").click(function()
{ 
    // alert(111);
    var name = document.getElementById('search').value; 
    // alert(name); 
    $.ajax({ 
        url:'home/topic/ajaxsearch.html', 
        type:'POST', 
        data:{ "name": name, }, 
        dataType:'json', 
        success:function(data)
        { 
            var data2 = JSON.parse(data); 
            console.log(data2);
            var item = ""; 
            $(".span8").empty();    //清空 ,原先的内容
            
            for(var i = 0 ; i < data2.shuju.length; i++) 
            { 
                // 只要用到数据的时候+""+就可以
                
                item += "<h3 class='post-title'><a href='home_articleonly?id="+data2.shuju[i].id+"'>"+data2.shuju[i].art_title+"</a></h3><ul class='post-meta'><li><i class='icon-user'></i> <a href='#''>"+data2.shuju[i].art_author+"</a></li><li><i class='icon-dashboard'></i> <a href='#'>"+data2.shuju[i].art_chao+"</a></li><li><i class='icon-calendar'></i> <a href='#'>"+data2.shuju[i].create_time+"</a></li></ul><div class='post-media'></div><div class='post-content'><p>"+data2.shuju[i].art_content+"</p><p><a href='home_articleonly?id="+data2.shuju[i].id+"' class='btn btn-large btn-welcome'><i class='icon-chevron-right'></i>详细了解</a></p></div>";
            }
            $(".span8").append(item); // 显示到里面 
        },
        error:function(data)
        { 
            alert(222); 
            console.log(data); 
        } 
    }) 
})
</script>