{include file="./admin/html/header_edit.html" /}

<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
      <div class="page_title">
       <h2 class="fl">修改标签名称</h2>
       <!-- <a href="product_detail.html" class="fr top_rt_btn add_icon">添加文章</a> -->
      </div>

  <form method="POST" action="edit.html" enctype="multipart/form-data">
    <div class="box" style="padding:20px 25px;">
    <!-- 文章表的id -->
        <input type="hidden" name="id" value="{$data.id}">
        <p>标签标题:</p>
        <input type="text" name="biaoqian_name" class="huoma_title"  value="{$data['biaoqian_name']}" placeholder="请输入标签名称">
       
    </div>
    <!-- <a href="ewm_information.html" class="next">下一步</a> -->
    <button class="next">修改</button>
    </form>

 </div>
</section>
</body>
</html>